/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.login {
  background: rgb(219, 226, 226);
}

.form-row {
  border-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

.rating span {
  margin: 0.1rem;
}

@media only screen and (max-width: 576px) {
  .radioOther {
    margin-left: 15px;
  }
}
