/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.login {
  background: rgb(219, 226, 226);
}

.form-row {
  border-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:focus {
  border: 1px solid;
  background-color: black;
  color: white;
}

.btn1:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

.rating span {
  margin: 0.1rem;
}

.text-link {
  font-size: 18px;
}

.text-mainlink {
  font-weight: 700;
}

.maintext {
  font-weight: 300;
  text-align: center;
}

.shopcard {
  position: relative;
  transform-style: preserve-3d;
}

.font-text {
  font-family: 'Roboto', sans-serif;
}

.btn2 {
  border: none;
  outline: none;
  height: 50px;
  display: flex;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.btn2:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

@media only screen and (max-width: 576px) {
  .radioOther {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .btn-hide {
    display: none;
  }
}
